.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: calc(100vh - 64px);

    .right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px;

        .contact-items_wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 21px;

            .contact-item {
                display: flex;
                align-items: center;
            
                .icon {
                    font-size: 1.6em;
                    color: $teal;
                }
            
                .text {
                    font-size: 1.5em;
                    color: $teal;
                    margin-left: 21px;
                }
            }
        }
    }
}

