.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 64px);

    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;

        .login-error-text {
            color: $warning;
        }

        .auth-form-wrapper {
            @include input-element();
            @include base-grid();
            padding: 21px;

            .form-group {
                display: flex;

                svg {
                    font-size: 2em;
                    color: $teal;
                    margin-right: 15px;
                }
            }
        }
    }
}