.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column {
        background-color: $charcoal;
        color: $teal;
    }

    .right-column {
        background-color: $warning;
        color: $offwhite;
    }
}