.portfolio-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 42px;

    @include input-element();
    input {
        margin-bottom: 0px;
    } 
    
    .btn-wrapper {
        display: flex;
        justify-content: center;
    }
}

.image-uploaders {
    @include base-grid();
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
}

