.demo-editor {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    padding: 2px 21px;
    cursor: text;

    .DraftEditor-root {
        min-height: 140px;
    }
}

.rdw-embedded-modal {
    left: -123px;
}

.rdw-emoji-modal {
    left: -169px;
}

.rdw-image-modal {
    left: -214px;
}